<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comn_btn_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,71}}</string>
                <key>sourceSize</key>
                <string>{180,71}</string>
            </dict>
            <key>comn_btn_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>comn_btn_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{172,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,59}}</string>
                <key>sourceSize</key>
                <string>{172,59}</string>
            </dict>
            <key>comn_btn_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{131,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,38}}</string>
                <key>sourceSize</key>
                <string>{131,38}</string>
            </dict>
            <key>comn_btn_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>comn_btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>comn_btn_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>comn_btn_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,75},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>comn_btn_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,75},{212,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,142}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>comn_btn_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,75},{212,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,142}}</string>
                <key>sourceSize</key>
                <string>{212,142}</string>
            </dict>
            <key>comn_btn_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,75},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>comn_btn_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{228,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,71}}</string>
                <key>sourceSize</key>
                <string>{228,71}</string>
            </dict>
            <key>comn_btn_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,219},{190,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,59}}</string>
                <key>sourceSize</key>
                <string>{190,59}</string>
            </dict>
            <key>comn_btn_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,219},{176,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,71}}</string>
                <key>sourceSize</key>
                <string>{176,71}</string>
            </dict>
            <key>comn_btn_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,219},{176,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,71}}</string>
                <key>sourceSize</key>
                <string>{176,71}</string>
            </dict>
            <key>comn_btn_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,219},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>comn_btn_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>comn_btn_add_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,292},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>comn_btn_enter_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,292},{257,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{257,203}}</string>
                <key>sourceSize</key>
                <string>{257,205}</string>
            </dict>
            <key>comn_btn_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,292},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>comn_btn_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,292},{144,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,114}}</string>
                <key>sourceSize</key>
                <string>{144,114}</string>
            </dict>
            <key>comn_btn_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,292},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>comn_btn_exit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,292},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,56}</string>
            </dict>
            <key>comn_btn_minus_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,292},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>comn_btn_start_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{153,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,143}}</string>
                <key>sourceSize</key>
                <string>{155,145}</string>
            </dict>
            <key>comn_btn_tip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,497},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>comn_btn_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,497},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>comn_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,497},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>comn_check_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,497},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>comn_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,497},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>comn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,497},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>comn_close_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,497},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>comn_close_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,497},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>comn_close_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,497},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,89}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>comn_close_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,497},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>comn_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,497},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>comn_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{178,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,54}}</string>
                <key>sourceSize</key>
                <string>{178,54}</string>
            </dict>
            <key>comn_plus_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,642},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>comn_plus_0_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,642},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>comn_rule_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,642},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>comn_tab_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{341,642},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>comn_tab_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{476,642},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>comn_tab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,642},{185,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,60}}</string>
                <key>sourceSize</key>
                <string>{187,60}</string>
            </dict>
            <key>comn_tab_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,642},{187,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,53}}</string>
                <key>sourceSize</key>
                <string>{187,53}</string>
            </dict>
            <key>comn_tab_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>comn_tab_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,721},{186,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,50}}</string>
                <key>sourceSize</key>
                <string>{186,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comn_btn.png</string>
            <key>size</key>
            <string>{1016,789}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a38d4060c001adb976536b89e281b29$</string>
            <key>textureFileName</key>
            <string>comn_btn.png</string>
        </dict>
    </dict>
</plist>
