<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actor.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,810},{28,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,94}}</string>
                <key>sourceSize</key>
                <string>{32,98}</string>
            </dict>
            <key>comn_arrowhead_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,748},{60,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{60,96}</string>
            </dict>
            <key>comn_bottomframe_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1130},{570,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,209}}</string>
                <key>sourceSize</key>
                <string>{570,209}</string>
            </dict>
            <key>comn_bottommap_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{750,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,73}}</string>
                <key>sourceSize</key>
                <string>{750,73}</string>
            </dict>
            <key>comn_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,719},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>comn_box_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,661},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>comn_building_label_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1034},{53,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,146}}</string>
                <key>sourceSize</key>
                <string>{53,146}</string>
            </dict>
            <key>comn_chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,150},{9,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,75}}</string>
                <key>sourceSize</key>
                <string>{9,75}</string>
            </dict>
            <key>comn_chain_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{749,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,18}}</string>
                <key>sourceSize</key>
                <string>{749,18}</string>
            </dict>
            <key>comn_conversation_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{750,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,218}}</string>
                <key>sourceSize</key>
                <string>{750,218}</string>
            </dict>
            <key>comn_dialoguebox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,840},{306,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,80}}</string>
                <key>sourceSize</key>
                <string>{306,80}</string>
            </dict>
            <key>comn_dialoguebox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1699},{306,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,78}}</string>
                <key>sourceSize</key>
                <string>{306,78}</string>
            </dict>
            <key>comn_diamond_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2007},{198,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,36}}</string>
                <key>sourceSize</key>
                <string>{198,36}</string>
            </dict>
            <key>comn_goldtitle_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{769,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{769,94}}</string>
                <key>sourceSize</key>
                <string>{769,94}</string>
            </dict>
            <key>comn_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1341},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>comn_honor_levelfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,705},{105,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>comn_honor_namefg.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1397},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>comn_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1458},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>comn_listborder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{750,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{750,41}}</string>
                <key>sourceSize</key>
                <string>{750,43}</string>
            </dict>
            <key>comn_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1829},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>comn_name_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1148},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>comn_name_inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1582},{319,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,47}}</string>
                <key>sourceSize</key>
                <string>{319,47}</string>
            </dict>
            <key>comn_prestige_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1610},{390,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,26}}</string>
                <key>sourceSize</key>
                <string>{390,26}</string>
            </dict>
            <key>comn_prestige_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1104},{388,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,23}}</string>
                <key>sourceSize</key>
                <string>{388,23}</string>
            </dict>
            <key>comn_prestigebox_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{202,1341},{514,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,26}}</string>
                <key>sourceSize</key>
                <string>{514,26}</string>
            </dict>
            <key>comn_prestigebox_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{728,840},{280,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,24}}</string>
                <key>sourceSize</key>
                <string>{280,24}</string>
            </dict>
            <key>comn_progress_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,641},{252,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,18}}</string>
                <key>sourceSize</key>
                <string>{252,18}</string>
            </dict>
            <key>comn_progress_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,697},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>comn_progressbar_external.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,789},{606,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,50}}</string>
                <key>sourceSize</key>
                <string>{606,50}</string>
            </dict>
            <key>comn_progressbar_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1122},{575,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,26}}</string>
                <key>sourceSize</key>
                <string>{575,26}</string>
            </dict>
            <key>comn_random_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1034},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>comn_rank_4bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{746,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{746,63}}</string>
                <key>sourceSize</key>
                <string>{746,63}</string>
            </dict>
            <key>comn_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{637,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,244}}</string>
                <key>sourceSize</key>
                <string>{637,244}</string>
            </dict>
            <key>comn_rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{635,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,54}}</string>
                <key>sourceSize</key>
                <string>{635,54}</string>
            </dict>
            <key>comn_redpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,98},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>comn_redpoint_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,752},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>comn_resources_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{642,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,71}}</string>
                <key>sourceSize</key>
                <string>{642,73}</string>
            </dict>
            <key>comn_slider_handle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,116},{13,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,32}}</string>
                <key>sourceSize</key>
                <string>{13,32}</string>
            </dict>
            <key>comn_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1034},{151,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,55}}</string>
                <key>sourceSize</key>
                <string>{151,55}</string>
            </dict>
            <key>comn_tips_consumption.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,978},{440,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,54}}</string>
                <key>sourceSize</key>
                <string>{440,54}</string>
            </dict>
            <key>comn_title_chain_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{150,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,195}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>comn_title_chain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,661},{212,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,126}}</string>
                <key>sourceSize</key>
                <string>{212,126}</string>
            </dict>
            <key>comn_top_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1699},{22,290}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,290}}</string>
                <key>sourceSize</key>
                <string>{24,290}</string>
            </dict>
            <key>comn_top_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,789},{204,1257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,1257}}</string>
                <key>sourceSize</key>
                <string>{204,1257}</string>
            </dict>
            <key>comn_top_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,227},{723,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{723,8}}</string>
                <key>sourceSize</key>
                <string>{723,8}</string>
            </dict>
            <key>comn_top_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{750,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,101}}</string>
                <key>sourceSize</key>
                <string>{750,101}</string>
            </dict>
            <key>comn_topbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{642,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,75}}</string>
                <key>sourceSize</key>
                <string>{642,75}</string>
            </dict>
            <key>comn_topbar_resbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1903},{142,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,23}}</string>
                <key>sourceSize</key>
                <string>{142,23}</string>
            </dict>
            <key>comn_uitab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{750,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,79}}</string>
                <key>sourceSize</key>
                <string>{750,79}</string>
            </dict>
            <key>conm_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{633,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,65}}</string>
                <key>sourceSize</key>
                <string>{633,65}</string>
            </dict>
            <key>conn_texttitle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{565,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,60}}</string>
                <key>sourceSize</key>
                <string>{565,60}</string>
            </dict>
            <key>dailyboss_combat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1205},{119,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,41}}</string>
                <key>sourceSize</key>
                <string>{119,41}</string>
            </dict>
            <key>dailyboss_recovery_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1903},{115,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,26}}</string>
                <key>sourceSize</key>
                <string>{115,26}</string>
            </dict>
            <key>particle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1699},{126,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comn_other.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae9573672081c0f0061f69a61ca8d1ef$</string>
            <key>textureFileName</key>
            <string>comn_other.png</string>
        </dict>
    </dict>
</plist>
